#canvasContainer {
  margin: 0px;
  width: 100%;
  height: calc(100vh - 78px);
  height: calc(100dvh - 78px);
}
.game-content {
  position: relative;
  margin: 0;
}

#textInputSpan {
  position: absolute;
  color: #000000;
  font-family: sans-serif;
  z-index: -1;
  opacity: 0;
}
